{% extends 'layout.html' %}
{% load static %}
<!--{% block css %} <link rel="stylesheet" href="{% static 'css/main.css' %}"> {% endblock css %}-->
{% load crispy_forms_tags %}

{% block content %}
<div class="text-center">
<h1>Sign Out</h1>

<p>Are you sure you want to sign out?</p>
</div>

<form method="post" class="text-center mb-5 logout" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-danger text-center" type="submit">Sign Out</button>
</form>
{% endblock %}