{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block javascript %}
{{ block.super }}
<script>
            function myFunction(){

            const y = document.getElementById("id_password1");
            const z = document.getElementById("id_password2");
              if ((y.type === "password")||(z.type === "password")) {
                y.type = "text";
                z.type = "text";
              } else {
                y.type = "password";
                z.type = "password";
              }
            }
        </script>
{% endblock javascript %}


{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set mb-5">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-info" name="action" value="{% trans 'Set Password' %}"/>
        <input type="checkbox" id="showPass" class="" onclick="myFunction()">
        <label class="form-check-label" id="labelPass" for="showPass">Show Password</label>
    </form>

{% endblock %}