{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block javascript %}
{{ block.super }}
        <script>
            function myFunction(){
            const x = document.getElementById("id_oldpassword");
            const y = document.getElementById("id_password1");
            const z = document.getElementById("id_password2");
              if ((x.type === "password")||(y.type === "password")||(z.type === "password")) {
                x.type = "text";
                y.type = "text";
                z.type = "text";
              } else {
                x.type = "password";
                y.type = "password";
                z.type = "password";
              }
            }
        </script>
{% endblock javascript %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_set mb-5" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger"><i class="fas fa-key mr-1"></i>Change Password</button>
        <input type="checkbox" id="showPass" class="" onclick="myFunction()">
        <label class="form-check-label" id="labelPass" for="showPass">Show Password</label>
    </form>
{% endblock %}
