.section {
    padding: 75px 0;
}

.zoom {
    transition: .2s;
}
.zoom:hover {

    transform: scale(1.2);
}

.section-title {

    margin-bottom: 50px;
    padding-bottom: 20px;
    display: inline-block;
    border-bottom: 1px solid #fff;
}

#services {
    background: #17a2b8;

}
#services a {

    color: #fff;
}
#services a:hover {

    color: #044f4b;
    text-decoration: none;
}
.single-service {
    margin: 30px 25px;
}
.service-title {
    color: #fff;
}

.service-content {
    margin-left: 65px;
    margin-top: -66px;
}

.services_row {
    margin: 0;
}

.parallax {
  /* The image used */
  background-image: url(../images/background.jpg);

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #007bff;
    box-shadow: 0 1px 0 0 #007bff;
    border: 1px solid #007bff;
}
.active-cyan input[type=text] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #007bff;
    box-shadow: 0 1px 0 0 #007bff;
}

.about_img img {
    height: 220px;
    width: 220px;
}

#about_us {
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
  #about_us {
    margin-top: 10px;
  }
    #reset_b {
    margin-top: 10px;
    margin-bottom: 10px;
    }
    #button_b {
    margin-top: 10px;
    margin-bottom: 10px;
    }


}

@media only screen and (max-width: 1000px) {
   #reset_b {
    margin-top: 10px;
    margin-bottom: 10px;
    }
    #button_b {
    margin-top: 10px;
    margin-bottom: 10px;
    }

}