<!doctype html>
{% load static %}
{% load socialaccount %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
<body>
    <div class="starter-template parallax">
      <nav class="navbar navbar-dark navbar-expand-md">
      <div class="container">
      <a class="navbar-brand" href="#"><img class="image-fluid" src="{% static 'images/python-logo.png' %}" alt="Python Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about_us">About</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user-circle mr-1"></i>Hello {{ user.username }}</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}"><i class="fas fa-power-off mr-1"></i>Log Out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}"><i class="fas fa-user-circle mr-1"></i>Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}"><i class="fas fa-user-plus mr-1"></i>Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
      </div>
    </nav>
        <h1 id="nav_text"></h1>
        <p class="lead"></p>
      </div>
    <main role="main">
    <div class="threes">
      <div class="container">
        <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/django-logo-resized.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Django Blog</h5>
            <p class="card-text">Blog where I write mostly about Django and some JavaScript, including the libraries and
            frameworks. Stay tuned for cool tutorials.</p>

          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-outline"><a href="{% url 'django_posts' %}">Click to see Posts</a></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'images/blog-logo.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Personal Blog</h5>
            <p class="card-text">Here I write about productivity, discipline, food and general tips which work for me.</p>

          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-outline"><a href="{% url 'lifestyle_posts' %}">Click to see Posts</a></button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'images/web-design.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Services</h5>
            <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-outline"><a href="#services">Click to check Services</a></button>
          </div>
        </div>
      </div>
      </div>
    </div>
     

    </main><!-- /.container -->
    <!-- SERVICES -->
    <section id="services" class="section text-center">

            <h2 class="section-title wow fadeIn text-white">Services</h2>
            <div class="row services_row">

                <!-- SINGLE SERVICE -->
                 <div class="col-md-4 col-sm-6">
                    <div class="single-service text-left wow fadeInRight">
                        <div class="service-title">
                          <i class="fas fa-desktop fa-3x zoom"></i>
                        </div>
                        <div class="service-content text-white">
                            <h3>Web Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet odit amet repellendus, eum ipsum laboriosam.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- END SINGLE SERVICE -->

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="service-title">
                          <i class="fas fa-mobile-alt fa-3x zoom"></i>
                        </div>
                        <div class="service-content text-white">
                            <h3>Mobile Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet odit amet repellendus, eum ipsum laboriosam.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- END SINGLE SERVICE -->

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="service-title">
                            <i class="fa fa-code fa-3x zoom"></i>
                        </div>
                        <div class="service-content text-white">
                            <h3>Code</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet odit amet repellendus, eum ipsum laboriosam.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- END SINGLE SERVICE -->

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay=".9s">
                        <div class="service-title">
                            <i class="fa fa-shopping-cart fa-3x zoom"></i>
                        </div>
                        <div class="service-content text-white">
                            <h3>Ecommerce</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet odit amet repellendus, eum ipsum laboriosam.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- END SINGLE SERVICE -->

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.2s">
                        <div class="service-title">
                            <i class="fa fa-cog fa-3x zoom"></i>
                        </div>
                        <div class="service-content text-white">
                            <h3>CMS</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet odit amet repellendus, eum ipsum laboriosam.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- END SINGLE SERVICE -->

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.5s">
                        <div class="service-title">
                            <i class="fa fa-rocket fa-3x zoom"></i>
                        </div>
                        <div class="service-content text-white">
                            <h3>Web Application</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet odit amet repellendus, eum ipsum laboriosam.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- END SINGLE SERVICE -->

            </div>
            <!--.row-->

        <!--/.container -->
    </section>
    <!-- END SERVICES -->

        <!-- Image Showcases -->
    <section class="showcase">
      <div id="about" class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'images/bg-showcase-1.jpg' %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Fully Responsive Design</h2>
            <p class="lead mb-0">Responsive Web Design is about using HTML and CSS to automatically resize, hide, shrink,
                or enlarge, a website, to make it look good.
                You know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
          </div>
        </div>
        <div class="row no-gutters" id="portfolio">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'images/bg-showcase-2.jpg' %}');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Bootstrap 4</h2>
            <p class="lead mb-0">Bootstrap 4 is the newest version of Bootstrap, which is the most popular HTML, CSS,
                and JavaScript framework for developing responsive, mobile-first websites.
                Bootstrap 4 is completely free to download and use!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'images/bg-showcase-3.jpg' %}');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Easy to Use &amp; Customize</h2>
            <p class="lead mb-0">Grid system and responsive design comes standard with an 1170-pixel-wide grid layout.
                Alternatively, the developer can use a variable-width layout. For both cases, the toolkit has four
                variations to make use of different resolutions and types of devices: mobile phones, portrait and
                landscape, tablets and PCs with low and high resolution. Each variation adjusts the width of the
                columns.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END Image showcases -->
     <!--About-->
    <section class="container" id="about_us">

      <!-- Team Members Row -->
      <div class="row">

        <div class="col-lg-4 col-sm-6 text-center mb-4 about_img">
            <h1 class="my-4">About</h1>
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'images/about/about.jpg' %}" alt="">
          <h3 class="mt-4">Zoran Stoilov -
            <small>Full Stack Developer</small>
          </h3>
          <p class="text-justify">I am a self taught web developer, mostly using the Python web framework called Django, CSS framework Bootstrap and
              JavaScript/jQuery. I do occasionally wander into the Javascript ecosystem especially React, next are Node and Vue.
              Open for the next big thing.
          </p>
        </div>
        <div class="col-lg-8 col-sm-6 text-left mb-4  align-bottom">

                <h1 class="my-4">This is the my portfolio website made by using:</h1>
             <ul class="list-group list-group-flush">
            <li class="list-group-item text-white" style="background-color: #17a2b8;">Django</li>
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item text-white" style="background-color: #17a2b8;">jQuery</li>
            <li class="list-group-item">Javascript</li>
            <li class="list-group-item text-white" style="background-color: #17a2b8;">Sass</li>
            </ul>
            <div class="mt-5 text-center">
                <i class="fab fa-github fa-3x"><a href="https://github.com/Zoki92" class="text-dark" style="text-decoration: none;">My GitHub</a></i>
                <div class="mt-2"><i class="fas fa-envelope fa-2x"> zoranstoilov@yahoo.com</i></div>
            </div>
        </div>

      </div>
        </section>
<!--End About -->

 <div class="section-c">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2>Subscribe To Our Newsletter</h2>
            <br />
            <p>If you want to get updates about new features or new posts please subscribe to our Newsletter. You don't need to be
            registered in order to subscribe. Thank you.</p>
            <hr />
            <form>
              <input type="text" class="form-control input-lg" placeholder="Enter Email">
              <br />
              <button class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">About us</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Products</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Awards</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Help</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr style="margin: 0 15%;">

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">"Grit is that ‘extra something’ that separates the most successful people from the rest.
              It’s the passion, perseverance, and stamina that we must channel in order to stick with our dreams until they become a reality."
              - Travis Bradberry</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

      <!-- Grid row-->
      <div class="row pb-3">

        <div class="col-md-3"></div>

        
        
          <div class="col-md-6 text-center">
            
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook fa-lg mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus fa-lg mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin fa-lg mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg mr-4"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg"> </i>
            </a>
            
          </div>


         <div class="col-md-3"></div>
        
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
 <script>




 </script>


  </body>
</html>
